<h1>Your booking is confirmed</h1>
<p>Start date :</p>
<%= @booking.start_date %>
<p>End date :</p>
<%= @booking.end_date %>
<p>Total price :</p>
<%= @booking.full_price %>


<%# <%= link_to 'Back to items', items_path %>
