<h1>All the items</h1>

<div class="allcards">
  <% @items.each do |item| %>
  <div class="card" style="width: 20rem; height: auto">
    <%= link_to cl_image_tag("xacrvk9drxisoggk2dca", height: 300, crop: :fill), item_path(item) %>
    <div class="card-body">
      <p><b><%= item.name %></b></p>
      <p class="card-text"><%= item.description %></p>
    </div>
  </div>
  <% end %>
</div>
