<h1>All the items</h1>

<div class="allcards">
  <% @items.each do |item| %>

  <div class="card" style="width: 18rem;">
  <%= image_tag "image.jpg", class: "card-img-top" %>
    <div class="card-body">
      <<%= item.name %>
      <p class="card-text"><%= item.description %></p>
    </div>
  </div>

  <% end %>
</div>
