.description {
  background-color: transparent;
  box-shadow: 0 0.3rem 0.5rem #00000080;
  margin: 25px 25px 25px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}
  img {
    padding: 10px;
  }
